* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gap {
    height: 100px;
}

.text-box {
    width: 50%;
    height: 250px;
    font-size: 30px;
    /* font-family: 'Covered By Your Grace', cursive; */
    font-family: 'Prompt', sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #000;
}

.main-container {
    width: 100%;
    height: 575px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(https://rare-gallery.com/uploads/posts/567915-pyramid-egypt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-container-1 {
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #dcba85;
    justify-content: center;
    align-items: center;
    display: flex;
}

.section-container-wrapper-1 {
    width: 80%;
    height: auto;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    padding-top: 50px;
}

h2 {
    padding-bottom: 50px;
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
}

p {
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Prompt', sans-serif;
}