* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 300px;
  background-color: rgb(107, 107, 182);
}

.form_validation {
  color: brown;
  width: 50%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 25px;
}
